apiVersion: v1
kind: Config
preferences: {}
clusters:
- cluster:
    certificate-authority-data: {{ certificate_authority_data }}
    server: {{ server_name }}
  name: {{ cluster_name }}
users:
- name: "{{ username }}"
  user:
    client-certificate-data: {{ client_certificate_data }}
    client-key-data: {{ client_key_data }}
current-context: "{{ username }}"
contexts:
- context:
    cluster: {{ cluster_name }}
    namespace: {{ namespace }}
    user: "{{ username }}"
  name: "{{ username }}"